*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-y: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

#seg{
    color: black;
    text-decoration: none;
}

#seg:hover{
    cursor: pointer;
}

#seg:visited{
    color: black;
    text-decoration: none;
}

#headIndex{
    h1{
        font-size: 60px;
        padding-left: 15%;
        padding-bottom: 2%;
    }

    img{
        width: 10%;
        border-radius: 10%;
        position: absolute;
        top: 10px;
        left: 10%;
    }
}

.imgText{
    img{
        width: 25%;
        float: left;
        clear: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}