*{
    h1, h2, button{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    p, a{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

header{
    background-color: #101010;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 30px;
    
    img{
        width: 15%;
        margin-left: 40px;
    }

    p{
        color: #e31d16;
    }

    a{
        color: white;
        text-decoration: none;
    }
}

table {
	width: 200px;
    height: 60px;
    text-align: center;
}

body{
    background-color: #20211f;
    color: white;
}

h1{
    text-align: center;
    font-size: 50px;
}

.topo{
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;

    h1{
        position: absolute;
        top: 40%;
        display: block;
        margin-left: 10%;
    }
}

.central{
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    padding: 10px 10px;
    width: 50%;
    margin: auto;

    h2{
        font-size: 50px;
    }

    spam{
        color: #e31d16;
    }
}

#container1{
    margin-top: 5%;
    margin-bottom: 5%;

    button{
        background-color: #20211f;
        border-radius:  30px;
        border: 2px solid white;
        color: white;
        font-size: 26px;
        width: 100%;
        height: 60px;
    }

    button:hover{
        background-color: #e31d16;
        border: 2px solid #e31d16;
        color: black;
    }
}

#img1{
    border-radius: 40%;
    width: 20%;
    float: left;
    clear: left;
    margin-left: 25%;
    margin-top: 2%;
}

#img2{
    border-radius: 40%;
    width: 20%;
    float: left;
    clear: left;
    margin-left: 7%;
}

.direita{
    text-align: left;
    font-size: 19px;
    line-height: 1.5;
    padding: 10px 10px;
    width: 40%;
    margin-left: 50%;

    h2{
        color: #e31d16;
        font-size: 50px;
    }
}

#container2{
    margin-bottom: 5%;
}

#img3{
    border-radius: 40%;
    width: 30%;
    position: absolute;
    float: left;
    clear: left;
    margin-left: 48%;
    margin-top: 40px;
}

.esquerda{
    text-align: justify;
    font-size: 19px;
    line-height: 1.5;
    padding: 40px 10px;
    width: 30%;
    margin-left: 13%;

    h2{
        color: #e31d16;
        font-size: 50px;
    }
}

footer {
    padding: 5px;
    width: 100%;
    background-color: #1e1d1b;
    color: white;
    text-align: center;
}