*{
    h2, h3, button{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    p, a{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

header{
    background-color: #101010;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 30px;
    
    img{
        width: 15%;
        margin-left: 40px;
    }

    p{
        color: #e31d16;
    }

    a{
        color: white;
        text-decoration: none;
    }
}

table {
	width: 200px;
    height: 60px;
    text-align: center;
}

body{
    background-color: #20211f;
    color: white;
}

.hide {
  display: none;
}

.duvfreq{
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    padding: 10px 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    h2{
        margin-left: -50px;
        font-size: 35px;
    }

    button{
        background-color: transparent;
        color: white;
        border: none;
        margin-left: -35px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    button:hover{
        color: #e31d16;
        cursor: pointer;
    }
}

.buscas{
    text-align: left;
    font-size: 18px;

    padding: 10px 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    h2{
        margin-left: -50px;
        font-size: 35px;
    }

    p{
        margin-top: -20px;
        margin-left: -35px;
    }

    button{
        background-color: #20211f;
        border-radius:  20px;
        border: 2px solid white;
        color: white;
        padding: 10px 15px;
    }

    button:hover{
        background-color: #e31d16;
        border: 2px solid #e31d16;
        color: black;
    }
}

#buscafaq{
    width: 70%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-left: -50px;
    margin-right: 20px;
}

.enigresp{
    text-align: left;
    font-size: 18px;

    padding: 10px 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    p{
        margin-left: -15%;
        text-align: center;
    }
}

.spam1{
    font-style: italic;
    color: #20211f;
}

.spam2{
    color: #d3d3d3;
}

footer {
    padding: 5px;
    width: 100%;
    background-color: #1e1d1b;
    color: white;
    text-align: center;
}